<body>
  <div class="box">
    <h2>QUẢN LÝ HÃNG</h2>
    <form asp-action="Index" method="get">
      <input
        type="text"
        name="SearchString"
        placeholder="Tìm kiếm qua hãng"
        class="searchBox form-control"
      />
    </form>

    <button class="btnCreate btn btn-dark" (click)="toggleAddForm()">
      THÊM LOẠI SẢN PHẨM MỚI
    </button>
    <div *ngIf="AddFormVisible" class="d-flex mt-2 w-50">
      <input
        type="text"
        class="form-control inputNewBrand me-2"
        placeholder="Nhập tên hãng hợp tác mới"
        [(ngModel)]="brandName"
        name="brandName"
      />
      <button id="btnNewBrand" class="btn btn-dark" (click)="createNewBrand()">
        Tạo hãng mới
      </button>
    </div>
  </div>
  <!-- Danh sách -->
  <div class="box mt-3">
    <div style="position: relative">
      <h3 class="text-center">DANH SÁCH CÁC LOẠI SẢN PHẨM</h3>
      <button
        class="btn btn-dark"
        style="position: absolute; right: 20px; top: 3px"
      >
        Xuất Excel
      </button>
    </div>
    <!-- List Table -->
    <div class="box mt-3" id="listBox">
      <div class="fixTableHead">
        <table
          class="table table-striped table-hover table-bordered text-center"
        >
          <thead>
            <tr>
              <th>Tên hãng</th>
              <th>Các loại sản phẩm</th>
              <th style="width: 30%">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemHang of brandList">
              <td>{{ itemHang.tenNhaSX }}</td>
              <td>{{ returnStringLoaiSP(itemHang.cacLoaiSP) }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary">
                  <i class="fa-solid fa-circle-info"></i> Thêm loại sản phẩm
                </button>
                <button type="button" class="btn btn-outline-warning">
                  <i class="fa-solid fa-square-pen"></i> Chỉnh sửa
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="fa fa-trash"></i> Xóa sản phẩm
                </button>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Xóa sản phẩm
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Bạn có chắc là bạn muốn xóa {{ itemHang.tenNhaSX }}
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Quay lại
                        </button>
                        <button type="button" class="btn btn-primary">
                          Xóa hãng
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
