  <div class="container text-center" id="margin-top">
  <div class="row">
    <!-- Hình -->
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid"
        src="http://localhost:3800/images/{{product.hinhAnh[0].tenImageSP}}"
        alt=""
      />
    </div>
    <!-- Tên sản phẩm -->
    <div
      class="col-md-5 container text-start justify-content-center align-items-center"
    >
      <h4 class="fs-2">{{product.tenSP}}</h4>
      <br />  
      <h3 class="fs-2">{{product.giaTien|currency:"VND":" "}}đ</h3>
      <br />
      <div id="font" class="fs-3">
        <ng-container [ngSwitch]="loaiSP">
          <ng-container *ngSwitchCase="'Chuột'">
            <ng-container *ngTemplateOutlet="chuot"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Màn Hình'">
            <ng-container *ngTemplateOutlet="manHinh"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Bàn Phím'">
            <ng-container *ngTemplateOutlet="banPhim"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Điện Thoại'">
            <ng-container *ngTemplateOutlet="dienThoai"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Tai Nghe'">
            <ng-container *ngTemplateOutlet="taiNghe"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Laptop'">
            <ng-container *ngTemplateOutlet="laptop"></ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="d-grid gap-2 col-7" id="margin-top-mua">
        <button
          class="btn btn-outline-dark btn-lg fw-bolder"
          type="button"
          id="purchase-button"
          (click)="buyNow()"
        >
          Mua hàng
        </button>
      </div>
    </div>
  </div>
  <div class="row me-5">
    <div class="ms-4 row col-md-5 justify-content-between">
      <div class="col-4" id="margin-adjust">
        <button id="rounded-button" >
          <img
            id="img-size"
            src="http://localhost:3800/images/{{product.hinhAnh[0].tenImageSP}}"
            alt=""
          />
        </button>
      </div>
      <div class="col-4">
        <button id="rounded-button">
          <img
            id="img-size"
            src="http://localhost:3800/images/{{product.hinhAnh[1].tenImageSP}}"
            alt=""
          />
        </button>
      </div>
      <div class="col-4">
        <button id="rounded-button">
          <img
            id="img-size"
            src="http://localhost:3800/images/{{product.hinhAnh[2].tenImageSP}}"
            alt=""
          />
        </button>
      </div>
    </div>

  </div>
</div>
<h3 class="container text-start fs-2">
  {{product.moTa[0]}}
</h3>
<p class="container text-start fs-3">
  {{product.moTa[1]}}
</p>
<p class="container text-start fs-3">
  {{product.moTa[2]}}
</p>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <img class="w-50" src="http://localhost:3800/images/{{product.hinhAnh[0].tenImageSP}}" alt="" />
    </div>
  </div>
</div>


<ng-template #chuot>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>Model: {{product.thongSo.model}}</p>
  <p>Bảo hành: {{product.thongSo.baoHanh}}</p>
  <p>Kiểu kết nối: {{product.thongSo.kieuKetNoi}}</p>
  <p>Cảm biến: {{product.thongSo.camBien}}</p>
  <p>DPI: {{product.thongSo.DPI}}</p>
</ng-template>

<ng-template #manHinh>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>Kích thước: {{product.thongSo.kichThuoc}}</p>
  <p>Tần số quét: {{product.thongSo.tanSoQuet}}</p>
  <p>Hiển thị màu sắc: {{product.thongSo.hienThiMauSac}}</p>
  <p>Cổng hình ảnh: {{product.thongSo.congHinhAnh}}</p>
</ng-template>

<ng-template #dienThoai>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>Màn hình: {{product.thongSo.manHinh}}</p>
  <p>Camera trước: {{product.thongSo.cameraTruoc}}</p>
  <p>Camera sau: {{product.thongSo.cameraSau}}</p>
  <p>CPU: {{product.thongSo.CPU}}</p>
  <p>Bộ nhớ: {{product.thongSo.boNho}}</p>
  <p>Hệ điều hành: {{product.thongSo.heDieuHanh}}</p>
</ng-template>

<ng-template #banPhim>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>Switch: {{product.thongSo.switch}}</p>
  <p>Kích thước: {{product.thongSo.kichThuoc}}</p>
  <p>Trọng lượng: {{product.thongSo.trongLuong}}</p>
  <p>Tình trạng: {{product.thongSo.tinhTrang}}</p>
  <p>Bảo hành: {{product.thongSo.baoHanh}}</p>
</ng-template>

<ng-template #laptop>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>CPU: {{product.thongSo.CPU}}</p>
  <p>Màn hình: {{product.thongSo.manHinh}}</p>
  <p>RAM: {{product.thongSo.RAM}}</p>
  <p>Đồ họa: {{product.thongSo.doHoa}}</p>
  <p>Lưu trữ: {{product.thongSo.luuTru}}</p>
  <p>Hệ điều hành: {{product.thongSo.heDieuHanh}}</p>
  <p>PIN: {{product.thongSo.PIN}}</p>
  <p>Khối lượng: {{product.thongSo.khoiLuong}}</p>
</ng-template>

<ng-template #taiNghe>
  <p class="fs-2 fw-bold">Thông số kỹ thuật :</p>
  <p>Tên hãng: {{product.tenHang}}</p>
  <p>Chất liệu khung: {{product.thongSo.chatLieuKhung}}</p>
  <p>Màu sắc: {{product.thongSo.mauSac}}</p>
  <p>Kiểu tai nghe: {{product.thongSo.kieuTaiNghe}}</p>
  <p>Kiểu kết nối: {{product.thongSo.kieuKetNoi}}</p>
  <p>Thời lượng pin: {{product.thongSo.thoiLuongPin}}</p>
  <p>Microphone: {{product.thongSo.Microphone}}</p>
  <p>Tần số: {{product.thongSo.TanSo}}</p>
  <p>Độ nhạy: {{product.thongSo.doNhay}}</p>
</ng-template>
<button (click)="addItemToCart()">thêm vào giỏ hàng</button>
