<div class="container text-center">
  <div class="row">
    <!-- Hình -->
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid"
        src="/assets/client/ProductDetail/hinh_1.png"
        alt=""
      />
    </div>
    <!-- Tên sản phẩm -->
    <div
      class="col-md-5 container text-start justify-content-center align-items-center"
    >
      <h4 class="fs-2">Chuột Razer DeathAdder Essential</h4>
      <br />
      <h3 class="fs-2">490.000d</h3>
      <br />
      <pre id="font" class="fs-3 float-start">
Thông số kỹ thuật :
Hãng sản xuất: Razer
Model: Deathadder Essential
Số nút: 5 nút có thể lập trình
Kiểu kết nối: Có dây, dây nhựa
Đèn LED: Led Green đơn sắc
Màu sắc: Đen
Kết nối : USB 2.0
Kiểu cầm: Ergonomic / Công thái học
Độ phân giải (CPI/DPI) : 6400DPI
Cảm biến: Cảm biến quang học (Optical)
Thời gian phản hồi: 1ms
Gia tốc: 220 IPS / 30G
Kích thước: 127.0 x 61.7 x 42.7 mm Trọng lượng: 96g
      </pre>
      <div class="d-grid gap-2 col-7">
        <button class="btn btn-outline-dark btn-lg fw-bolder" type="button">
          Mua hàng
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button id="rounded-button" class="">
        <img
          id="img-size"
          src="/assets/client/ProductDetail/hinh 2.jpg"
          alt=""
        />
      </button>
    </div>
    <div class="col-md-1">
      <button id="rounded-button" class="">
        <img
          id="img-size"
          src="/assets/client/ProductDetail/hinh 2.jpg"
          alt=""
        />
      </button>
    </div>
    <div class="col-md-2">
      <button id="rounded-button" class="">
        <img
          id="img-size"
          src="/assets/client/ProductDetail/hinh 2.jpg"
          alt=""
        />
      </button>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3 class="container text-start fs-2">
  Chuột Razer Deathadder Essential sở hữu thiết kế công thái học :
</h3>
<p class="container text-start fs-3">
  Chuột gaming DeathAdder Essential được Razer thiết kế với kiểu dáng công thái
  học (Ergonomic) cổ điển. Thiết kế đẹp mắt và khác biệt ở các dòng chuột máy
  tính khác, tạo ra sự thoải mái, cho phép người chơi duy trì mức hiệu suất cao
  trong suốt thời gian chơi game dài, vì vậy bạn sẽ không bao giờ bị ngập ngừng
  trong các trận chiến nóng bỏng. Hứa hẹn đây sẽ là một trong những dòng chuột
  gaming dưới 1 triệu rất đáng trải nghiệm.
</p>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="w-50"
        src="/assets/client/ProductDetail/hinh 2.jpg"
        alt=""
      />
    </div>
  </div>
</div>
