body{
  padding:40px 200px
}
.purchase-button{
  width: 100%;
}
.rounded-button{
  width: 90px;
  height: 90px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
  border: 1px solid #DDDDDD;
}
.rounded-button:hover{
  border: 1px solid black;
}
.rounded-button:focus{
transform: scale(1.2);
border: 1px solid black;
}
.img-size-main{
  height: 500px;
  width: 500px;
  background-size: cover;
  background:#F4F4F4;
  border-radius: 10px;
}
.img-size-button{
  width: 60px;
  height: 60px;
}
.img-size-des{
  width: 800px;
  height: auto;
}
p{
  margin:0px;
  font-size: 25px;
}

