<!-- CAROULSEL -->
<app-carousel [images]="images" [autoSlide]="true"></app-carousel>
<!-- CONTENT -->
<div class="container">
  <div class="text-center">
    <h1 class="mt-5 mb-5">Về Chúng Tôi</h1>
    <p class="text-muted mb-5">Chào mừng bạn đến với Zone 14</p>
    <div class="vl"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 p-4">
      <p>
        Chào mừng bạn đến với <b>Zone 14</b>, một không gian độc đáo nơi công
        nghệ và sự tiện ích kết hợp để làm cuộc sống của bạn trở nên đa dạng
        hơn. Chúng tôi không chỉ là một trang web bán hàng điện tử, mà còn là
        một đối tác đáng tin cậy trong hành trình của bạn để tạo nên một cuộc
        sống hiện đại và phong cách.
      </p>
    </div>
    <div class="col-sm-6 p-4">
      <p>
        Tại <b>Zone 14</b>, chúng tôi tin vào sức mạnh của công nghệ để làm cuộc
        sống dễ dàng và thú vị hơn. Chúng tôi không chỉ cung cấp sản phẩm, mà
        còn mang đến cơ hội và khám phá trong thế giới kỳ diệu của công nghệ.
        Hãy cùng chúng tôi tạo ra những trải nghiệm đáng nhớ và cuộc sống sống
        động hơn.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-4">
      <img src="assets/client/AboutUs/image1-About.jpg" alt="Card image cap" />
    </div>
    <div class="col-md-4 p-4">
      <img src="assets/client/AboutUs/image2-About.jpg" alt="Card image cap" />
    </div>
    <div class="col-md-4 p-4">
      <img src="assets/client/AboutUs/image3-About.jpg" alt="Card image cap" />
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="text-center">
    <h1 class="mt-5 mb-5">Tầm Nhìn và Sứ Mệnh</h1>
    <div class="vl"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 p-4">
      <p>
        <b>Tầm nhìn của chúng tôi</b> là trở thành một trang web bán hàng điện
        tử hàng đầu, mang lại cho khách hàng trải nghiệm mua sắm trực tuyến tốt
        nhất và là nơi họ có thể tìm thấy sự đa dạng, chất lượng và độ tin cậy
        trong mọi sản phẩm điện tử. Chúng tôi cam kết cung cấp sự tiện lợi, tùy
        chọn đa dạng, và sự hỗ trợ xuất sắc và nhiều hơn thế.
      </p>
    </div>
    <div class="col-sm-6 p-4">
      <p class="">
        <b>Sứ mệnh của chúng tôi</b> là làm hài lòng khách hàng. Chúng tôi cam
        kết cung cấp sản phẩm chất lượng cao, giá trị vượt trội và dịch vụ chăm
        sóc khách hàng xuất sắc. Chúng tôi hiểu rằng công nghệ thay đổi nhanh
        chóng, và sứ mệnh của chúng tôi là đồng hành cùng khách hàng để giúp
        thoả mãn niềm đam mê công nghệ.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="text-center">
        <h1 class="mt-5 mb-5">Cốt Lõi</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-5 p-2">
          <img
            src="assets/client/AboutUs/image1-AboutUs.jpg"
            alt="Loading..."
          />
        </div>
        <div class="col-sm-6 margin-middle p-2">
          <img
            src="assets/client/AboutUs/image3-AboutUs.jpg"
            alt="Loading..."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 p-2">
          <img
            src="assets/client/AboutUs/image2-AboutUs.jpg"
            alt="Loading..."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 center-circle-div">
      <div class="col-sm-3">
        <div class="circle-text mx-2 mb-3">1</div>
        <div class="circle-text mx-2 mb-3">2</div>
        <div class="circle-text mx-2 mb-3">3</div>
        <div class="circle-text mx-2 mb-3">4</div>
        <div class="circle-text mx-2 mb-3">5</div>
      </div>
      <div class="col-sm-2">
        <div class="circle-text mx-2 mb-3">
          <i class="fa-solid fa-people-group"></i>
        </div>
        <div class="circle-text mx-2 mb-3">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <div class="circle-text mx-2 mb-3">
          <i class="fa-solid fa-headphones"></i>
        </div>
        <div class="circle-text mx-2 mb-3">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <div class="circle-text mx-2 mb-3">
          <i class="fa-solid fa-rotate"></i>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="circle-text mx-2 mb-3">Đội ngũ chuyên nghiệp</div>
        <div class="circle-text mx-2 mb-3">Chất lượng sản phẩm</div>
        <div class="circle-text mx-2 mb-3">Hỗ trợ 24/7</div>
        <div class="circle-text mx-2 mb-3">Đảm bảo an toàn</div>
        <div class="circle-text mx-2 mb-3">Đổi mới không ngừng</div>
      </div>
    </div>
  </div>
</div>
