<div class="container" #container mat-dialog-content>
  <div class="form-container sign-up-container">
    <form action="#">
      <p class="p-change-3">Đăng ký</p>
      <div>
        <p style="margin-bottom: 0">Họ và tên</p>
        <input
          class="input-dang-ki mb-2 ps-2"
          type="text"
          placeholder="Nhập họ và tên"
          [(ngModel)]="name"
          name="name"
        />
        <p style="margin-bottom: 0">Email</p>
        <input
          class="input-dang-ki mb-2 ps-2"
          type="email"
          placeholder="Nhập email"
          [(ngModel)]="email"
          name="email"
        />
        <p style="margin-bottom: 0">Số điện thoại</p>
        <input
          class="input-dang-ki mb-2 ps-2 calculator-input"
          type="text"
          placeholder="Nhập số điện thoại"
          [(ngModel)]="sdt"
          name="sdt"
        />
        <p style="margin-bottom: 0">Mật khẩu</p>
        <input
          class="input-dang-ki mb-2 ps-2"
          type="password"
          placeholder="Nhập mật khẩu"
          [(ngModel)]="matKhau"
          name="matKhau"
        />
      </div>
      <button
        class="btn-form mt-4 me-1"
        (click)="submitFormRegis()"
        
      >
        Đăng ký
      </button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1 class="p-change-3 mb-5">Đăng Nhập</h1>
      <div class="input-group form-group ms-4">
        <span class="input-group-text" style="background: #dedede">
          <i class="fa-solid fa-user" style="color: #777777"></i>
        </span>
        <input
          class="input-dang-nhap"
          type="email"
          placeholder="Tên đăng nhập"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="input-group form-group ms-4 mt-3">
        <span class="input-group-text" style="background: #dedede">
          <i class="fa-solid fa-lock" style="color: #777777"></i>
        </span>
        <input
          class="input-dang-nhap"
          type="password"
          placeholder="Mật khẩu"
          [(ngModel)]="matKhau"
          name="matKhau"
        />
      </div>
      <a href="#" class="mt-3" style="color: #7e7a7a">Quên mật khẩu ?</a>
      <button
        class="btn-form mt-4"
        (click)="submitFormLogin()"
        mat-dialog-close
      >
        Đăng nhập
      </button>
    </form>
  </div>
  <!-- khung overlay -->
  <div class="overlay-container" id="overlayCon">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <img
          src="/assets/client/Login_Regis/logo.png"
          alt=""
          class="img-resize mb-5"
        />
        <p class="Welcome-back mt-3">CHÀO MỪNG QUAY TRỞ LẠI</p>
        <p class="p-change-2">Đăng nhập ngay !</p>
      </div>
      <div class="overlay-panel overlay-right">
        <img
          src="/assets/client/Login_Regis/logo.png"
          alt=""
          class="img-resize mb-5"
        />
        <p class="chao-ban-moi">CHÀO BẠN MỚI !</p>
        <p class="p-1 mt-2" style="margin-bottom: 0px">
          Bạn chưa có tài khoản ?
        </p>
        <p class="p-change-2">Đăng ký ngay !</p>
      </div>
    </div>
    <button class="overlayBtn"></button>
  </div>
</div>
