<div class="w-100 banner d-flex align-items-center">
  <h1 class="p-4">Bàn phím</h1>
</div>
<div class="container d-flex justify-content-end align-items-center">
  <p class="filter m-0 p-2">Lọc theo: nổi bật</p>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1 class="sidebar_header">Thương hiệu</h1>
      <ul class="sidebar-list list-unstyled">
        <li class="sidebar-list_item fs-4">
          <div class="controller">
            <input type="checkbox" />
            <span>Apple</span>
          </div>
        </li>
        <li class="sidebar-list_item fs-4">
          <div class="controller">
            <input type="checkbox" />
            <span>Apple</span>
          </div>
        </li>
        <li class="sidebar-list_item fs-4">
          <div class="controller">
            <input type="checkbox" />
            <span>Apple</span>
          </div>
        </li>
        <li class="sidebar-list_item fs-4">
          <div class="controller">
            <input type="checkbox" />
            <span>Apple</span>
          </div>
        </li>
        <li class="sidebar-list_item fs-4">
          <div class="controller">
            <input type="checkbox" />
            <span>Apple</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4" *ngFor="let product of products">
          <app-product-items [product]="product"></app-product-items>
        </div>
      </div>
    </div>
  </div>
</div>
