<div class="container">
  <div class="row">
    <!-- menu -->
    <div class="column menu">
      <div class="background-table">
        <div class="row m-0 p-2">
          <div class="col-4"><i class="fa-regular fa-circle-user"></i></div>
          <div class="col-8 text-center d-flex align-items-center h5">
            <b>{{ user.hoTen }}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
        <div class="row m-0 p-2">
          <div
            class="col-12 p-3 btn-border"
            [ngClass]="{ 'btn-border-bg-black': activeIndex === 0 }"
            [routerLink]="['/client/personal']"
            (click)="onClickBtnMenu(0)"
          >
            <i class="fa-solid fa-house"></i><span>Trang chủ</span>
          </div>
        </div>
        <div class="row m-0 p-2">
          <div
            class="col-12 p-3 btn-border"
            [ngClass]="{ 'btn-border-bg-black': activeIndex === 1 }"
            [routerLink]="['/client/purchase-history']"
            (click)="onClickBtnMenu(1)"
          >
            <i class="fa-solid fa-file-pen"></i><span>Lịch sử mua hàng</span>
          </div>
        </div>
        <div class="row m-0 p-2">
          <div
            class="col-12 p-3 btn-border"
            [ngClass]="{ 'btn-border-bg-black': activeIndex === 2 }"
            [routerLink]="['/client/your-account']"
            (click)="onClickBtnMenu(2)"
          >
            <i class="fa-regular fa-face-smile"></i
            ><span>Tài khoản của bạn</span>
          </div>
        </div>
        <div class="row m-0 p-2">
          <div
            class="col-12 p-3 btn-border"
            [ngClass]="{ 'btn-border-bg-black': activeIndex === 3 }"
            (click)="onClickBtnMenu(3)"
          >
            <i class="fa-solid fa-medal"></i><span>Hạng thành viên</span>
          </div>
        </div>
        <div class="row m-0 p-2">
          <div
            class="col-12 p-3 btn-border"
            [ngClass]="{ 'btn-border-bg-black': activeIndex === 4 }"
            [routerLink]="['/client/contact']"
            (click)="onClickBtnMenu(4)"
          >
            <i class="fa-regular fa-circle-question"></i><span>Hỗ trợ</span>
          </div>
        </div>
        <div class="row m-0 p-2">
          <div class="col-12 p-3 text-center h6" (click)="logOut()">
            <span>Thoát tài khoản</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Content -->

    <div class="column content">
      <div class="row">
        <div class="background-content">
          <div class="row">
            <div class="col h5 mx-4 text-white">Cùng xem hạng mình nhé !</div>
          </div>
          <div class="row progress-content">
            <div class="d-flex justify-content-between">
              <p class="h6 mx-3">{{ user.hoTen }}</p>
              <i
                class="fa-solid fa-star pe-5"
                style="color: burlywood"
                *ngIf="user.hangThanhVien === 'Đồng'"
              ></i>
              <i
                class="fa-solid fa-star pe-5"
                style="color: #b0c4de"
                *ngIf="user.hangThanhVien === 'Bạc'"
              ></i>
              <i
                class="fa-solid fa-star pe-5"
                style="color: #ffcc00"
                *ngIf="user.hangThanhVien === 'Vàng'"
              ></i>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mx-3">{{ user.diem }}</p>
              <div class="pe-5">{{ user.hangThanhVien }}</div>
            </div>
            <i class="d-flex justify-content-end pe-4 fa-regular fa-flag"></i>
            <div class="row">
              <div class="col">
                <div class="progress">
                  <mat-progress-bar
                    mode="buffer"
                    value="{{ (user.diem / 2500) * 100 }}"
                    class="audio-progress-bar"
                  ></mat-progress-bar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condition-member mb-5">
        <div class="row">
          <div class="col-md-12 ps-5 pe-5 p-change">
            <p class="text-black">
              Hạng thành viên không chỉ là một tính năng - đó là một trải nghiệm
              đặc biệt được tạo ra để mang lại những phần quà hấp dẫn và những
              ưu đãi độc quyền cho những khách hàng thân thiết của zone-14. Đây
              là cách chúng tôi diễn đạt lòng biết ơn chân thành đối với những
              người đã đồng hành với chúng tôi qua thời gian. Hãy để chúng tôi
              cùng bạn chia sẻ niềm vui và trải nghiệm những điều tuyệt vời nhất
              của thế giới zone-14!
            </p>
            <h5 style="margin: 0px">Điểm tích lũy sẽ được tính như sau:</h5>
            <p>
              Mỗi khi bạn mua sản phẩm, bạn không chỉ nhận được sản phẩm chất
              lượng mà còn nhận thêm diểm thưởng.
              <span style="color: red"
                >Mỗi 10.000 VNĐ bạn chi tiêu, bạn sẽ được tặng 1 điểm
                thưởng</span
              >. Khi bạn tích đủ điểm, tài khoản của bạn sẽ được nâng cấp lên
              một hạng cao hơn, mang đến cho bạn những ưu đãi và phúc lợi tốt
              hơn.
            </p>
            <h5 class="mb-3">Các mức hạng tài khoản :</h5>
            <div class="d-flex">
              <i class="fa-solid fa-star" style="color: burlywood"></i>
              <p class="ms-3">Đồng:<span> 0 - 999(điểm)</span></p>
            </div>
            <div class="d-flex">
              <i class="fa-solid fa-star" style="color: #b0c4de"></i>
              <p class="ms-3">Bạc:<span> 1000 - 2499(điểm)</span></p>
            </div>
            <div class="d-flex">
              <i class="fa-solid fa-star" style="color: #ffcc00"></i>
              <p class="ms-3">Vàng:<span> lớn hơn 2499(điểm)</span></p>
            </div>
          </div>
        </div>
        <div class="condition-top">
          <div>Điều kiện xếp hạng</div>
        </div>
      </div>
    </div>
  </div>
</div>
