<div style="width: 50%;">
  <form>
     <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Tên sản phẩm:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mô tả 1:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mô tả 2:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mô tả 3:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Số lượng</label>
      <input type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Gía tiền:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Model:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Bảo hành:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Kiểu kết nối:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Cảm biến:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">DPI:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Hình ảnh (tối đa 3 hình):</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
