.form-container {
    position: relative;
    width: 850px;
    height: auto;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    padding-bottom: 10px;
}
h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.hr-container {
    display: flex;
    justify-content: center;
}
.centered-hr {
    width: 90%;
}
button {
    float: right;
}