<div class="form-container">
    <form>
        <h2>Thông Tin Khách Hàng Mới</h2>
        <div class="hr-container">
            <hr class="centered-hr" />
        </div>
        <div class="mb-3 px-5">
            <label for="exampleInputPassword1" class="form-label">Họ Tên KH:</label>
            <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="user.hoTen" name="user.hoTen">
        </div>
        <div class="mb-3 px-5">
            <label for="exampleInputPassword1" class="form-label">Email:</label>
            <input type="email" placeholder="name@example.com" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.email" name="user.email">
        </div>
        <div class="mb-3 px-5">
            <label for="exampleInputPassword1" class="form-label">Số Điện Thoại:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.sdt" name="user.sdt">
        </div>
        <div class="mb-3 px-5">
            <label for="exampleInputPassword1" class="form-label">Mật Khẩu:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.matKhau" name="user.matKhau">
        </div>
        <button type="button" class="btn btn-success mt-3 mx-5" mat-dialog-close (click)="onCreateKH()">Tạo</button>
    </form>
</div>