.body-change{
  padding:90px;
  height: fit-content;
}
.content-tong{
  width: 100%;
  height: fit-content;
  display: flex;
}
/* content-trai */
.content-trai{
  width: 70%;
}
.khung-1 {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  max-height:800px;
  min-height: 250px;
  width: 100%;
  padding:20px;
}
.scrollbar{
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
}
/* customize - scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 217, 0.5);
}
.Giohang {
  font-size: 35px;
}
.Delete-all {
  border-radius: 30px;
  background: #000;
  width: 146.552px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 20px;
}


/* content-phai */
.content-phai{
  width: 30%;
  padding:0 20px;
}
.khung-2 {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  height: 407px;
  width: 100%;
  padding:20px;
}

/* button */
.button-tt {
  margin-top: 30px;
  table-layout: fixed;
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: 3px solid;
  background: #ffffff;
  font-size: 30px;
}
.button-tt:hover {
  background-color: #cccccc;
}

.bt-change {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: #fff;
}
.bt-change-2 {
  background-color: white;
  border: none;
  color: #c00;
  font-size: 20px;
}
.bt-change-3 {
  color: #717171;
  font-size: 25px;
  font-weight: 600;
  background-color: white;
  border: none;
}

/* P */
.p-change-1 {
  color: #5d5d5d;
  font-size:20px;
}
.p-change-2 {
  color: #2c2c2c;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 0;
}
.p-change-3 {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.125px;
  margin-bottom: 0;
}
.p-change-4 {
  font-weight: 700;
  font-size:20px;
}
.p-money {
  color: #c00;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 20px;
}


.img-change {
  width: 200px;
  height: 220px;
  border-radius: 10px;
  border: 3px solid rgba(118, 118, 118, 0.5);
  background: lightgray 50% / cover no-repeat, #d9d9d9;
  object-fit:contain;
}
@media (max-width:1300px) {

}
