<div class="container" id="margin-top">
  <!--nut back ve-->
  <div class="row mb-4">
    <div class="col-4 d-flex">
      <img src="/assets/client/ShoppingCart/arrow_back.png" alt="" />
      <button class="bt-change-3">Tiếp tục mua hàng</button>
    </div>
  </div>
  <!--hang tren-->
  <div class="row">
    <div class="col-md-8 d-flex justify-content-between">
      <div class="col-7 d-flex align-items-end">
        <p id="Giohang">Giỏ hàng của tôi</p>
        <img
          src="/assets/client/ShoppingCart/shopping_cart.png"
          alt=""
          id="Giohangimage"
        />
      </div>
      <div class="mb-3" id="p-change">
        <button class="Delete-all">XÓA TẤT CẢ</button>
      </div>
    </div>
  </div>
  <!--CHIA 2 Ben-->
  <div class="row">
    <!--Cot 8-->
    <div class="col-md-8 container" id="khung-1">
      <div id="khung-1-con">
        <div class="container">
          <div class="row p-3">
            <div class="col-4 text-center">
              <img
                class="img-change"
                src="/assets/client/ProductDetail/Hinh-test.jpg"
                alt=""
              />
            </div>
            <div class="col-4 p-center" >
              <div>
                <p class="p-change-4">Chuột Razer Death Essentail</p>
                <p class="p-change-1">
                  Số lượng
                  <button class="bt-change" type="button">-</button>
                  <button class="bt-change" type="button">1</button>
                  <button class="bt-change" type="button">+</button>
                </p>
              </div>
            </div>
            <div class="col-4" id="p-change">
              <div style="margin-top: 25px">
                <p class="p-change-4">490.000đ</p>
                <p class="p-change-1">490.000đ/sp</p>
                <button class="bt-change-2">Delete Items</button>
              </div>
            </div>
          </div>
          <!--test scroll bar-->
          <div class="row p-3">
            <div class="col-4 text-center">
              <img
                class="img-change"
                src="/assets/client/ProductDetail/Hinh-test.jpg"
                alt=""
              />
            </div>
            <div class="col-4 p-center">
              <div>
                <p class="p-change-4">Chuột Razer Death Essentail</p>
                <p class="p-change-1">
                  Số lượng
                  <button class="bt-change" type="button">-</button>
                  <button class="bt-change" type="button">1</button>
                  <button class="bt-change" type="button">+</button>
                </p>
              </div>
            </div>
            <div class="col-4" id="p-change">
              <div style="margin-top: 25px">
                <p class="p-change-4">490.000đ</p>
                <p class="p-change-1">490.000đ/sp</p>
                <button class="bt-change-2">Delete Items</button>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-4 text-center">
              <img
                class="img-change"
                src="/assets/client/ProductDetail/Hinh-test.jpg"
                alt=""
              />
            </div>
            <div class="col-4 p-center">
              <div>
                <p class="p-change-4">Chuột Razer Death Essentail</p>
                <p class="p-change-1">
                  Số lượng
                  <button class="bt-change" type="button">-</button>
                  <button class="bt-change" type="button">1</button>
                  <button class="bt-change" type="button">+</button>
                </p>
              </div>
            </div>
            <div class="col-4" id="p-change">
              <div style="margin-top: 25px">
                <p class="p-change-4">490.000đ</p>
                <p class="p-change-1">490.000đ/sp</p>
                <button class="bt-change-2">Delete Items</button>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-4 text-center">
              <img
                class="img-change"
                src="/assets/client/ProductDetail/Hinh-test.jpg"
                alt=""
              />
            </div>
            <div class="col-4 p-center">
              <div>
                <p class="p-change-4">Chuột Razer Death Essentail</p>
                <p class="p-change-1">
                  Số lượng
                  <button class="bt-change" type="button">-</button>
                  <button class="bt-change" type="button">1</button>
                  <button class="bt-change" type="button">+</button>
                </p>
              </div>
            </div>
            <div class="col-4" id="p-change">
              <div style="margin-top: 25px">
                <p class="p-change-4">490.000đ</p>
                <p class="p-change-1">490.000đ/sp</p>
                <button class="bt-change-2">Delete Items</button>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-4 text-center">
              <img
                class="img-change"
                src="/assets/client/ProductDetail/Hinh-test.jpg"
                alt=""
              />
            </div>
            <div class="col-4 p-center">
              <div>
                <p class="p-change-4">Chuột Razer Death Essentail</p>
                <p class="p-change-1">
                  Số lượng
                  <button class="bt-change" type="button">-</button>
                  <button class="bt-change" type="button">1</button>
                  <button class="bt-change" type="button">+</button>
                </p>
              </div>
            </div>
            <div class="col-4" id="p-change">
              <div style="margin-top: 25px">
                <p class="p-change-4">490.000đ</p>
                <p class="p-change-1">490.000đ/sp</p>
                <button class="bt-change-2">Delete Items</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Cot 4-->
    <div class="col-md-4">
      <div id="khung-2" class="container">
        <div class="mt-3">
          <div id="khung-2-con">
            <div class="container">
              <div class="row margin-bot">
                <p class="p-change-2">TỔNG TIỀN</p>
                <p>
                  Tổng tiền sẽ bao gồm tổng số lượng sản phẩm và tổng số tiền
                  của đơn hàng
                </p>
              </div>
              <div class="row margin-bot">
                <div class="col d-flex">
                  <p class="p-change-3" style="margin-right: 30px">
                    Số lượng :
                  </p>
                  <p class="p-change-3">9 Sản Phẩm</p>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex">
                  <p class="p-change-2">Tổng tiền:</p>
                  <p class="p-money">4.000.000đ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="button" id="button-tt">TIẾP TỤC</button>
      </div>
    </div>
  </div>
</div>
