<div class="card border-0 position-relative mb-5">
  <div>
    <img src="http://localhost:3800/images/{{product.hinhAnh[0].tenImageSP}}" class="card-img-top" alt="..." (click)="detailPage()"/>
  </div>
  <div class="card-body mt-3 p-0">
    <div style="width: 269.33px; height: 50px;">
      <h5 class="card-title">{{ product.tenSP }}</h5>
    </div>
    <p class="card-text mt-1">{{ product.giaTien| currency : "VND" : " " }}Đ</p>
    <a href="#" class="btn btn-dark mt-2">MUA NGAY</a>
  </div>
  <p class="badge">NEW</p>
</div>
