<!-- Content cho navbar -->
<nav class="navbar navbar-expand-lg px-4" id="navbar-container">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- logo -->
      <img
        src="assets\client\Shared\logo.png"
        style="width: 75px; image-rendering: optimizeQuality"
      />
    </a>

    <!-- Button cho màn hình mobile -->
    <button
      class="navbar-toggler bg-white"
      type="button"
      data-bs-toggle="collapse"
      aria-controls="navbarSupportedContent"
      data-bs-target="#navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- bên trái -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-5">
          <a
            class="nav-link"
            routerLink="/client/homepage"
            routerLinkActive="active"
            >Trang Chủ</a
          >
        </li>
        <li class="nav-item ms-5">
          <a
            class="nav-link"
            routerLink="/client/about-us"
            routerLinkActive="active"
            >Về Chúng Tôi</a
          >
        </li>
        <li class="nav-item dropdown ms-5">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Danh Mục
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Điện Thoại')"
                >Điện Thoại</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Laptop')"
                >Laptop</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Màn Hình')"
                >Màn Hình</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Bàn Phím')"
                >Bàn Phím</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Chuột')"
                >Chuột</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="reloadCategory('Tai Nghe')"
                >Tai Nghe</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <!-- bên phải -->
      <ul class="navbar-nav">
        <li class="nav-item me-3" *ngIf="onClicked">
          <div class="searchbox">
            <input
              type="text"
              class="inputSearch"
              placeholder="Nhập dữ liệu"
              (keypress)="handlekeyPress($event)"
              [(ngModel)]="tenSP"
            />
          </div>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link" (click)="searchBarclicked()">
            <i
              class="fas fa-search fa-lg"
              style="color: #f1f1f1; cursor: pointer"
            ></i>
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" [routerLink]="['/client/shopping-cart']">
            <i
              class="fas fa-shopping-bag iconClass"
              style="color: #f1f1f1; font-size: 1.5rem"
            >
              <span
                class="badge badge-light"
                id="validCart"
                *ngIf="slcart != 0; else khackhong"
                >{{ slcart }}</span
              >
              <ng-template #khackhong> </ng-template>
            </i>
          </a>
        </li>
        <li class="nav-item" *ngIf="checkLogin()">
          <a class="nav-link" (click)="changeToPersonalPage()">
            <i
              class="fas fa-user-circle"
              style="color: #f1f1f1; font-size: 1.5rem; cursor: pointer"
            ></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!checkLogin()">
          <a class="nav-link" (click)="openLogin('500ms', '500ms')">
            Đăng nhập
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
