<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="text-center fw-bold">Forgot Password</h3>
            <span class="text-black fw-medium">Nhập email và xác nhận để chúng tôi gửi cho bạn email xác thực cho
                việc khôi
                phục mật
                khẩu của
                bạn</span>
            <form [formGroup]="forgetForm" class="my-3">
                <div class="mb-3">
                    <input formControlName="email" type="email" class="form-control" placeholder="Nhập Email...">
                    <span *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty"
                        class="text-danger">*Email is required</span>
                    <span *ngIf="forgetForm.hasError('email','email')" class="text-danger">*Email is invalid</span>
                </div>
                <div class="text-center">
                    <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" type="submit"
                        class="btn btn-primary me-5" (click)="submit()">Submit</button>
                    <button routerLink="/regis-login" class="btn btn-secondary ms-5">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="mes!=''" class="text-center">
        <span class="fw-bold"
            [ngClass]="{'text-success': mes === 'Hãy kiểm tra email', 'text-warning': mes === 'Email not found','text-danger':isFail}">{{
            mes }}</span>
    </div>
</div>