<div class="footer">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="footer-col">
                <h4>Zone 14</h4>
                <ul>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Chính Sách Công Ty</a></li>
                </ul>
            </div>
            <div class="footer-col" style="width: 40%;">
                <h4>Thông Tin Liên Hệ</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-phone" style="color: #f9f9f9;"></i>
                        +84 985 632 100 (Mr. abc)
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope" style="color: #f9f9f9;"></i>
                        zone14@customerservice.com
                    </li>
                    <li>
                        <i class="fa-solid fa-compass" style="color: #f9f9f9;"></i>
                        828 Sư Vạn Hạnh, phường 12, quận 10, HCMC
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Theo Dõi Tại</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook" style="color: #494949;"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter" style="color: #494949;"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" style="color: #494949;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <hr class="pt-2 mx-4" />
            <p>Copyright © 2023 Zone14 Company. All rights reserved.</p>
        </div>
    </div>
</div>