*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F9F9F9;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.row p{
  color: #bbbbbb;
}

.footer{
  background-color: #494949;
  padding: 20px 0;
}
.footer-col{
  width: 30%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 30px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 500;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f7f9fb;
  height: 3px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90px;
  box-shadow: 0 0 5px #ffffff;
}

.footer-col ul li{
  font-size: 16px;
  color: #bbbbbb;
  display: block;
  transition: all 0.5s ease;
}
.footer-col ul li:hover{
  color: #F9F9F9;
  padding-left: 8px;
}
.footer-col ul li a{
  font-size: 16px;
  color: #bbbbbb;
  display: block;
}
.footer-col ul li a:hover{
  color: #F9F9F9;
  padding-left: 6px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col .social-links a{
  font-size: 1.5rem;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 15px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.6s ease;
}
.footer-col .social-links a:hover{
  color: #494949;
  background-color: #F9F9F9;
  box-shadow: 0 0 10px #ffffffd1;
}

/* RESPONSIVE */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}