<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Về Zone 14<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li><div class="thumb-content"><a href="#">Về Chúng Tôi</a></div></li>
                                <li><div class="thumb-content"><a href="#">Chính Sách Công Ty</a></div></li>
                            </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Thông Tin Liên Hệ<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li><div class="thumb-content">+84 985 632 100 (Mr. abc)</div> </li>
                            <li><div class="thumb-content">zone14@customerservice.com</div></li>
                            <li><div class="thumb-content">828 Sư Vạn Hạnh, phường 12, quận 10, TPHCM</div></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                            <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
                            <ul class="social-footer2"><!-- CÁC NỀN TẢNG MẠNG XÃ HỘI -->
                            <!-- <li class=""><a title="youtube" target="_blank" href="https://bit.ly/3m9avif">
                                <img alt="" width="30" height="30" src= ""/></a></li>
                            <li class=""><a href="https://www.facebook.com/" target="_blank" title="Facebook">
                                <img alt="Facebook" width="30" height="30" src= ""/></a></li>
                            <li class=""><a href="https://twitter.com" target="_blank" title="Twitter">
                                <img alt="Twitter" width="30" height="30" src= ""/></a></li>
                            <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/">
                                <img alt="instagram" width="30" height="30" src= ""/></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr class="hr" />
                    <p>Copyright © 2023 Zone14 Company. All rights reserved.</p></div>
            </div>
        </div>
    </div>
</footer>
