<body>
  <!-- TITLE -->
  <div class="box">
    <h2>QUẢN LÝ ĐƠN HÀNG</h2>
    <input
      id="searchInput"
      [(ngModel)]="searchTerm"
      (input)="searchDonHang()"
      class="searchBox form-control"
      placeholder="Tìm kiếm tên khách hàng..."
    />
  </div>
  <div class="box mt-3">
    <div style="position: relative">
      <h3 class="text-center">Danh Sách Đơn Hàng</h3>
    </div>
    <div class="box mt-3" id="listBox">
      <div class="fixTableHead">
        <table
          class="table table-striped table-hover table-bordered text-center"
        >
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Người đặt</th>
              <th>Ngày đặt</th>
              <th>Tổng tiền</th>
              <th>PT Thanh toán</th>
              <th>TT Thanh toán</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of listDH">
            <tr>
              <td>{{ item.donHang.idDonHang }}</td>
              <td>{{ item.tenNguoiDat }}</td>
              <td>{{ item.donHang.ngayDat | date : "dd/MM/yyyy HH:mm:ss" }}</td>
              <td>{{ item.donHang.tongTien | currency : " " || "VND" }}</td>
              <td>{{ item.donHang.hinhThucTT }}</td>
              <td *ngIf="item.donHang.trangThaiTT !== 'Đã hủy'">
                {{ item.donHang.trangThaiTT }}
              </td>
              <td
                *ngIf="item.donHang.trangThaiTT === 'Đã hủy'"
                style="color: red"
              >
                {{ item.donHang.trangThaiTT }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="editOrder(item)"
                >
                  <i class="fa-solid fa-circle-info"></i> Chỉnh sửa đơn hàng
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="
                    changeToDetailOrder(item.donHang.idDonHang, item.idKH)
                  "
                >
                  <i class="fa-solid fa-circle-info"></i> Xem chi tiết
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
