<div class="container">
    <div class="row">
        <div class="column menu"></div>
        <div class="column content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-justify"><b>Lịch sử mua hàng</b></h1>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <!-- menu -->
        <div class="column menu">
            <div class="background-table">
                <div class="row m-0 p-2">
                    <div class="col-4"><i class="fa-regular fa-circle-user"></i></div>
                    <div class="col-8 text-center d-flex align-items-center h5"><b>Lê Thành Duy Ân</b></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 btn-border" [ngClass]="{'btn-border-bg-black': activeIndex === 0}"
                        (click)="onClickBtnMenu(0)"><i class="fa-solid fa-house"></i><span>Trang chủ</span>
                    </div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 btn-border" [ngClass]="{'btn-border-bg-black': activeIndex === 1}"
                        (click)="onClickBtnMenu(1)"><i class="fa-solid fa-file-pen"></i><span>Lịch sử mua hàng</span>
                    </div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 btn-border" [ngClass]="{'btn-border-bg-black': activeIndex === 2}"
                        (click)="onClickBtnMenu(2)"><i class="fa-regular fa-face-smile"></i><span>Tài khoản của
                            bạn</span></div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 btn-border" [ngClass]="{'btn-border-bg-black': activeIndex === 3}"
                        (click)="onClickBtnMenu(3)"><i class="fa-solid fa-medal"></i><span>Hạng thành viên</span></div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 btn-border" [ngClass]="{'btn-border-bg-black': activeIndex === 4}"
                        (click)="onClickBtnMenu(4)"><i class="fa-regular fa-circle-question"></i><span>Hỗ trợ</span>
                    </div>
                </div>
                <div class="row m-0 p-2">
                    <div class="col-12 p-3 text-center h6"><span>Thoát tài khoản</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->

        <div class="column content">
            <div class="background-table">
                <div class="row title-table">
                    <div class="col-3">Sản phẩm</div>
                    <div class="col-2">Ngày mua</div>
                    <div class="col-2">Số lượng</div>
                    <div class="col-2">Giá</div>
                    <div class="col-2">Trạng thái</div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
                <div class="row text-center shadow-sm">
                    <div class="col-3">Laptop LMHT</div>
                    <div class="col-2">08/09/2023</div>
                    <div class="col-2">1</div>
                    <div class="col-2">16.000.000VND</div>
                    <div class="col-2">Chuyển khoản</div>
                    <div class="col-1"><a href="#" style="font-size: 13px;">Xem chi tiết</a></div>
                </div>
            </div>
        </div>
    </div>
</div>