.column.menu {
  width: 30%;
}
.column.content {
  width: 70%;
}
.background-table {
  background-color: #f4f4f4;
  border-radius: 15px;

}

.background-table .row.text-center {
  margin: 10px 10px 0px 10px;
}
.background-table .row.text-center div {
  background-color: #fff;
  padding: 20px 0px;
  font-weight: 600;
}
.background-table i {
  margin: 10px 20px;
  font-size: 36px;
}
@media only screen and (max-width: 576px) {
  .column.menu {
    width: 100% !important;
  }
  .column.content {
    width: 100% !important;
  }
}
.btn-border {
  border-radius: 15px;
  color: black;
  cursor: pointer;
}
.btn-border:hover {
  border: 0px solid #ccc;
  background: #ccc;
}
.btn-border-bg-black {
  background-color: #141515 !important;
  color: #fff;
}
.btn-border i {
  font-size: 24px;
}
.box {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 1rem;
}
