.card {
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 0px 0px 10px;
}
.card-body{
  width:fit-content;
}
.card-title {
  font-weight: bold;
}
.card-text{
  font-size:20px;
}
h5{
  white-space: nowrap;
}
p{
  white-space: nowrap;
}