<body>
  <!--Title Box -->
  <div class="box">
    <h2>QUẢN LÝ LOẠI SẢN PHẨM</h2>
    <form asp-action="Index" method="get">
      <input
        type="text"
        name="SearchString"
        placeholder="Tìm kiếm qua gmail hoặc tên"
        class="searchBox form-control"
      />
    </form>
    <button class="btnCreate btn btn-dark">THÊM LOẠI SẢN PHẨM MỚI</button>
  </div>

  <!-- <div
    style="background: #ffffff; border-radius: 10px solid red; padding: 1rem"
  > -->
  <!-- <div>
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Tên loại sản phẩm mới</label
          >
          <input
            type="text"
            class="form-control inputNewBrand"
            placeholder="Nhập tên loại sản phẩm mới"
            [(ngModel)]="categoryName"
            name="categoryName"
          />
          <button id="btnNewBrand" (click)="createnewLoaiSP()">
            Tạo loại sản phẩm mới
          </button>
        </div>
      </form>
    </div> -->

  <div class="box mt-3">
    <div style="position: relative">
      <h3 class="text-center">Danh Sách Loại Sản phẩm</h3>
      <button
        class="btn btn-dark"
        style="position: absolute; right: 20px; top: 3px"
      >
        Xuất Excel
      </button>
    </div>
    <!-- <table class="table table-hover table-striped">
      <thead style="background: rgb(0, 0, 0); color: snow">
        <tr style="text-align: center">
          <th>Tên loại sản phẩm</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tr style="text-align: center" *ngFor="let item of listLoaiSP">
        <td>{{ item }}</td>
        <td>
          <button type="button" class="btn btn-outline-warning">
            <i class="fa-solid fa-square-pen"></i> Chỉnh sửa
          </button>
          <button type="button" class="btn btn-outline-danger">
            <i class="fa fa-trash"></i> Xóa
          </button>
        </td>
      </tr>
    </table> -->
    <table class="table table-striped table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th>Loại Sản Phẩm</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center" *ngFor="let item of listLoaiSP">
          <td>{{ item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->
</body>
