<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <style>
    h1,h2{
      color: black;
    }
    i{
      font-size: 200px;
    }
  </style>
  <body style="width:100%; height:100%; background-color: whitesmoke; position: absolute; ">
    <div>
    </div>
    <div style="margin-top: 10%; width:100%; text-align: center;">
      <i class="fa-solid fa-circle-check fa-bounce" style="color: #1dd74c;"></i>
      <h1>Verify email successfull!</h1>
      <h2>Please close the website</h2>
      <button type="button" class="btn btn-outline-success" (click)="changeToLoginPage()">Click here to return login page!</button>
  </div>
  </body>
</html>
