<app-header></app-header>
<body>
    <!-- CAROULSEL -->
    <app-carousel [images]="images" [autoSlide]="true"></app-carousel>

    <!-- banner 1 -->
    <img src="assets\client\Shared\banner_1.png">

    <div class="container">
        <h2 class="text-center">Tên Gì Gì Đó</h2>
    </div>

    <!-- banner 2 -->
    <img src="assets\client\Shared\banner_2.png">

    <div class="container">
        <h2 class="text-center">Tên Gì Gì Đó</h2>
    </div>

    <!-- banner 3 -->
    <img src="assets\client\Shared\banner_3.png">
</body>
<app-footer></app-footer>