<div>
  <!-- VIDEO -->
  <video autoplay [muted]="'muted'" loop style="min-width: 100%; min-height: 100%">
    <source src="assets/client/Shared/video.mp4" type="video/mp4">
  </video>
  <!-- END VIDEO -->

  <!-- TÓM TẮT ABOUT US -->
  <div class="d-flex justify-content-center">
    <div class="about_us">
      <div>
        <h2>Chinh phục công nghệ cùng Zone14</h2>
        <p>Chúng tôi không chỉ cung cấp sản phẩm, mà còn mang đến cơ hội và khám phá trong thế giới kỳ diệu của công
          nghệ. Hãy cùng chúng tôi tạo ra những trải nghiệm đáng nhớ và cuộc sống sống động hơn.</p>
        <hr />
      </div>

      <div class="row">
        <div class="col-sm">
          <h3>17</h3>
          <p>Nhãn hàng đã hợp tác</p>
        </div>
        <div class="col-sm">
          <h3>200+</h3>
          <p>Sản phẩm đa dạng</p>
        </div>
        <div class="col-sm">
          <h3>100%</h3>
          <p>Cam kết chính hãng</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END TÓM TẮT ABOUT US -->

  <!-- PARALlAX SCROLLING -->
  <section class="parallax_scrolling">
    <div class="prl-left">
      <h2>Đắm chìm vào</h2>
    </div>

    <div class="prl-right">
      <h2>công nghệ.</h2>
    </div>
  </section>
  <!-- END PARALLAX SCROLLING -->

  <!-- SẢN PHẨM NỔI BẬT -->

  <!-- SẢN PHẨM 1 -->
  <div class="row sanpham" id="phoneSP">
    <div class="col">
      <img src="assets/client/HomePage/iphone15pro.png" id="hinh-anh">
    </div>
    <div class="col align-self-center justify-content-center">
      <h1 class="tenSPRight" id="tenSP">iPhone 15</h1>
      <a (click)="toProductDetail('65394499b2fba11b2842fd9c','iPhone 15','Điện Thoại')">Tìm Hiểu Thêm <i class="fa-solid fa-angles-right"></i></a>
    </div>
  </div>
  <!-- END SẢN PHẨM 1 -->

  <!-- SẢN PHẨM 2 -->
  <div class="row sanpham" id="laptopSP">
    <div class="col align-self-center">
      <h1 class="tenSP-left" id="tenSP">Macbook Air 2023</h1>
      <a (click)="toProductDetail('65394a221d72552f49d2ea5d','APPLE MacBook Air 2023s','Laptop')">Tìm Hiểu Thêm <i class="fa-solid fa-angles-right"></i></a>
    </div>
    <div class="col">
      <img src="assets/client/HomePage/macbook.png" id="hinh-anh">
    </div>
  </div>
  <!-- END SẢN PHẨM 2 -->

  <!-- END SẢN PHẨM NỔI BẬT -->

  <!-- BANNER -->
  <img id="banner" src="assets/client/Shared/banner_4.png">
  <!-- END BANNER -->

  <!-- DANH MỤC -->
  <div class="container-md text-center mt-5">
    <div class="row gx-4 row-cols-3">
      <div class="cateBox col" (click)="reloadCategory('Điện Thoại')">
        <div class="imgCate" id="phone"></div>
        <span class="imgTitle">Điện Thoại</span>
      </div>
      <div class="cateBox col">
        <div class="imgCate" id="laptop" (click)="reloadCategory('Laptop')"></div>
        <span class="imgTitle">Laptop</span>
      </div>
      <div class="cateBox col" (click)="reloadCategory('Màn Hình')">
        <div class="imgCate" id="monitor"></div>
        <span class="imgTitle">Màn Hình</span>
      </div>

      <div class="cateBox col" id="biggestBox" (click)="reloadCategory('Bàn Phím')">
        <div class="imgCate" id="keyboard">
          <span id="longTitle">Bàn Phím</span>
        </div>
      </div>
      <div class="cateBoxs col" (click)="reloadCategory('Chuột')">
        <div class="imgCate" id="mouse">
          <span class="imgTitle">Chuột</span>
        </div>
      </div>
      <div class="cateBoxs col" (click)="reloadCategory('Tai Nghe')">
        <div class="imgCate" id="headphone">
          <span class="imgTitle">Tai Nghe</span>
        </div>
      </div>

    </div>
  </div>
  <!-- END DANH MỤC  -->
</div>