body {
  background-color: #e6e5e4;
  margin: 0;
  padding: 0;
  display: flex;
  overflow:visible;
  height:auto;
  min-height:100%;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(254, 254, 254);
  border-radius: 10px;
}
/*  */
.selectedItem {
  background-color: #302e2e;
}
/* Sidebar */
.sidebar {
  position: fixed;
  background: #494949;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  z-index: 3;
  padding: 0 1.7rem;
  overflow-x: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: width 0.25s linear;
}
.imgTitle {
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}
.menu {
  padding-left: 0 !important;
}
.menu li {
  list-style: none;
  padding: 0;
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: #ffffff;
  gap: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.cateName {
  overflow: hidden;
}
.icon {
  color: #ffffff;
  display: flex;
  margin-left: 4px;
}
/* Dropdown */
.dropdown-toggle::after {
  display: none;
}
.sidebar:hover {
  width: 350px;
  transition: width 0.25s linear;
  z-index: 3;
}
/* Animation */
li:hover {
  background-color: #302e2e;
  transition: all 0.5s ease;
}
/* Adminbox */
.adminbox {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
  position: sticky;
  top:0;
  z-index: 2;
}
#avataradmin {
  object-fit: contain;
  max-width: 50px;
  border-radius: 50%;
}
.content {
  margin-left: 100px;
  height: auto;
  background: #EEEDEC;
}
.dropdown-item:hover {
  background-color: #494949;
}
/* Không hover vào thì dropdown sẽ ẩn đi */
.sidebar:not(:hover) .collapse {
  display: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.spinner {
  height: 50px;
  width: 50px;
}
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #494949;
}
