<div>
  <body>
    <!-- SIDEBAR -->
    <div class="sidebar">
      <!-- Logo -->
      <a
        routerLink="/admin/dashboard"
        class="d-flex justify-content-center pb-4"
      >
        <img src="assets/admin/logo.png" style="height: 85px" />
      </a>
      <hr style="color: white" />
      <!-- Sidebar menu -->
      <div class="main">
        <ul class="menu pt-3">
          <li class="nav-link mb-3" style="background-color: #302e2e">
            <a routerLink="/admin/dashboard" routerLinkActive="active">
              <span class="icon"> <i class="fa-solid fa-house"></i></span>
              <span class="cateName">Dashboard</span>
            </a>
          </li>
          <!-- customer -->
          <li class="nav-link mb-3">
            <a routerLink="/admin/customers">
              <span class="icon"><i class="fa-solid fa-user"></i> </span>
              <span class="cateName">Customers</span>
            </a>
          </li>
          <!-- Dropdown -->
          <li class="nav-link mb-3">
            <a
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <span class="icon"
                ><i class="fa-solid fa-bag-shopping"></i>
              </span>
              <span class="cateName">Products</span>
              <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            <ul
              class="collapse mt-2"
              id="collapseExample"
              *ngFor="let item of listLoaiSP"
            >
              <li class="dropdown-item">
                <a
                  [routerLink]="['/admin/products', item]"
                  (click)="changeToProductPage(item)"
                  >{{ item }}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-link mb-3">
            <a routerLink="/orders">
              <span class="icon"><i class="fa-solid fa-receipt"></i> </span>
              <span class="cateName">Orders</span>
            </a>
          </li>
          <li class="nav-link mb-3">
            <a routerLink="/admin/categories">
              <span class="icon"> <i class="fa-brands fa-elementor"></i></span>
              <span class="cateName">Categories</span>
            </a>
          </li>
          <li class="nav-link mb-3">
            <a routerLink="/admin/brands">
              <span class="icon"> <i class="fa-solid fa-building"></i></span>
              <span class="cateName">Brands</span>
            </a>
          </li>
          <li class="nav-link" id="logout">
            <a routerLink="/categories">
              <span class="icon">
                <i class="fa-solid fa-right-from-bracket"></i
              ></span>
              <span class="cateName">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- CONTENT -->
    <!-- ADMINBOX -->
    <div class="container-fluid p-0">
      <div class="adminbox">
        <div class="d-flex flex-row">
          <div class="logo ms-5">
            <img id="avataradmin" src="assets/admin/avatar.jpg" />
          </div>
          <div class="col ps-3">
            <div class="fw-bold text-uppercase">Xin chào</div>
            <div class="fw-light">Chức vụ</div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <!--  -->
    </div>
  </body>
</div>
