body {
  background-color: #e6e5e4;
}
/* Sidebar */
.header {
  display: flex;
}
.sidebar {
  background: #494949;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100vh;
}
.logo {
  text-decoration: none;
}
a {
  text-decoration: none;
}
#logout {
  position: absolute;
  bottom: 0;
}
.icon {
  color: #ffffff;
}
/* Adminbox */
.adminbox {
  display: block;
}
