<div class="header">
  <div class="sidebar p-3">
    <a routerLink="/" class="p-3">
      <img src />
    </a>
    <ul class="menu">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="icon"> </span>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/customers">
          <span class="icon"> </span>
          <span class="text">Customers</span>
        </a>
      </li>
      <li>
        <a routerLink="/products">
          <span class="icon"> </span>
          <span class="text">Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/orders">
          <span class="icon"> </span>
          <span class="text">Orders</span>
        </a>
      </li>
      <li>
        <a routerLink="/categories">
          <span class="icon"> </span>
          <span class="text">Categories</span>
        </a>
      </li>
    </ul>
  </div>
</div>
